<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>My Page</h2></h2>
    
    <h3></h3>
    <div class="list-group">
      <%= link_to "ユーザー情報を変更する", edit_user_registration_path, class: "list-group-item" %>
      <%= link_to "パスワードのみ変更の画面に転移させたいが何故かhomeに戻る", edit_user_password_path, class: "list-group-item" %>
    </div>
  </div>
</div>