<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if current_user.id != user.id %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6">
          <a class="profile"><%= profile_img(user) %></a>
          <%= link_to user.name, user_path(user.id) %>
          <%= render 'follow_form', user: user %>
      </div>
    <% end %>
  <% end %>
</div>
