<p>こんにちは<%= @resource.email %>!</p>

<p>あなたのパスワードを変更しようとしています、以下のリンクより可能です。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、身に覚えのない場合、このメールは無視してください</p>
<p>あなたがリンクにアクセスしない限り、新しいパスワードの申請はできません。</p>
